[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"
jupyterlab = "*"
scikit-learn = "==1.7"
shap = "*"
xgboost = "*"
lightgbm = "*"
kedro = "*"
ipython = "*"
ipympl = "*"
polars = "*"
arviz = "*"
openpyxl = "*"
pipfile = "*"
statsmodels = "*"
plotly = "*"
pymc3 = "*"
emcee = "*"
xarray = "*"
corner = "*"
optuna = "*"

[dev-packages]

[requires]
python_version = "3.9"
